+abstract('Jennifer Geacone-Cruz', 'Perfectly Portable: Japanese Mobile Culture Influencing the Front-End', 'perfectly-portable')
  +social('anomiseditrix', 'anomiseditrix', 'http://geaconecruz.net/')
