+abstract('Leslie Hawthorn', 'Will the Real Technologists Please Stand Up', 'talk-please-stand-up')
  p.text-muted
    a(href='https://www.elastic.co/') Elastic Co.
  +social('lhawthorn', 'lhawthorn', 'http://hawthornlandings.org/')
