+abstract('Anika Lindtner', 'How you can fix your community in one day', 'talk-fix-your-community')
  p.text-muted
    a(href='http://travis-ci.org/') Travis CI
  +social('langziehohr', 'anikalindtner', 'http://foundation.travis-ci.org/')
