+abstract('Kevin Lorenz', 'Master of Ceremonies', 'talk-mc-lorenz')
  p.text-muted
    a(href='http://www.hitfoxgroup.com/') HitFox Group
  +social('verpixelt', 'verpixelt', 'http://www.kevinlorenz.com/')
