// build:js({app,.tmp}) scripts/load.js
script(src='../node_modules/waypoints/lib/noframework.waypoints.js')
script(src='scripts/load.js')
// endbuild

// build:js({app,.tmp}) scripts/main.js
script(src='../node_modules/jquery/dist/jquery.js')
script(src='../node_modules/jquery.easing/jquery.easing.1.3.min.js')
script(src='../node_modules/picturefill/dist/picturefill.js')
script(src='../node_modules/headroom.js/dist/headroom.js')
script(src='../node_modules/headroom.js/dist/jQuery.headroom.js')
script(src='../node_modules/bootstrap/js/transition.js')
script(src='../node_modules/bootstrap/js/modal.js')
script(src='../node_modules/bootstrap/js/scrollspy.js')
script(src='../node_modules/bootstrap/js/collapse.js')
script(src='scripts/agency.js')
// endbuild
