ul.list-group.col-md-4
  h2.text-center Accommodation
  .panel.panel-default
    li.list-group-item
      a.list-group-link(href='https://www.novum-hotels.de/hotel-unique-dortmund/hotel-unique-information-dortmund.php') Novum Business Hotel Unique
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
    li.list-group-item
      a.list-group-link.with-addition(href='http://www.thegrey-hotel.de/') The Grey Hotel
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
    li.list-group-item
      a.list-group-link.with-addition(href='http://www.aohostels.com/de/') A&O Hotel and Hostel
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
    li.list-group-item
      a.list-group-link.with-addition(href='http://www.mercure.com/en/hotel-2900-mercure-hotel-dortmund-city/index.shtml') Mercure Hotel
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
    li.list-group-item
      a.list-group-link.with-addition(href='https://foursquare.com/user/124167992/lists/created') More accommodations
