footer
  .container
    .row
      .col-md-12
        span.copyright
          | The otsconf is not for profit
          | and brought to you by #{''}
          a(href="http://opentechschool.org/dortmund") OpenTechSchool Dortmund
      .col-md-12
        span.copyright
          | We welcome everyone and #{''}
          a(href='#coc') defend you from harassment
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://twitter.com/otsconf')
              i.fa.fa-twitter
          li
            a(href='http://opentechschool.org/dortmund')
              i.fa.fa-globe
          li
            a(href='https://github.com/opentechschool')
              i.fa.fa-github-alt
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Impressum/Imprint
