header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logos/concat_logo.svg',
          alt='.concat() Logo',
          width='140',
          heiht='140'
        )
        br
        .logo otsconf
        br
        | Dortmund
        br
        | August 15, 2015
      .intro-lead-in the open tech conference in Germany
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#tickets')
        | Get your ticket now
