header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logos/ots_logo_white.png',
          alt='otsconf Logo',
          width='280',
          heiht='280'
        )
        br
        br
        | Dortmund
        br
        | August 15/16, 2015
      .intro-lead-in the open tech conference in Germany
