section#map

  .container
    .row
      .col.lg-12.text-center
        h3.section-heading Location
    .row
      .col.lg-12.text-center.text-muted
        | The conference will take place in the View of the Dortmunder U. The U as a cultural center combines art, research, cultural education and creativity and is the historical landmark of Dortmund.
