include ./modals/talks/hawthorn
include ./modals/talks/lindtner
include ./modals/talks/lorenz
include ./modals/talks/rose
include ./modals/talks/ernst
include ./modals/talks/moser
include ./modals/talks/schuhfuß
include ./modals/talks/reitmann
include ./modals/talks/placona
include ./modals/talks/fabian
include ./modals/talks/ruhaak
include ./modals/talks/geacone-cruz

include ./modals/coc
include ./modals/legal
