section#videos
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Impressions
    .row.text-center
      .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(
            width="1280",
            height="720",
            src="https://www.youtube.com/embed/3Uktz9J0uPs",
            frameborder="0",
            allowfullscreen
          )

    .row.text-center
      .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
        br
        a(href="https://plus.google.com/photos/+OpenTechSchool/albums/6184721143441151073")
          h2 Photo Gallery
