section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Call for Papers

        p.text-muted The <b>Call for Papers</b> is on. <br />11 talk slots will be available plus lightning talks.<br />  

      .col-lg-12.text-left
        h4.section-heading.col-sm-4.text-right Sumbit your talk 
        p.col-sm-8  Go to <a href="https://docs.google.com/forms/d/1VLMX7u2LBnvQalGHw8OxSbv63oqnIl-ybnUzfCxKP1s/viewform?usp=send_form" target="_blank"> <strong>submit CfP</strong> </a> and just fill out the form. <br /><br />

      .col-lg-12.text-left
        h4.section-heading.col-sm-4.text-right Facts 
        p.col-sm-8 The talks are scheduled to be <strong>20 minutes</strong> long and in english. <br /><br />The CfP will be up until <strong>13th of May</strong>. Announcement will follow soon after that. <br /><br /> There won't be Q&A, but we'll have <strong>plenty of breaks</strong> and would<br /> love to <strong>encourage you to talk</strong> to the attendees during them.<br /><br />

      .col-lg-12.text-right
        h4.section-heading.col-sm-4 Topics 

        ul.text-left.col-sm-8
         dl All <strong>topics about open tech</strong> are welcome, e.g.:
         li hardware hacking 
         li bio hacking
         li software development (front- / back-end)
         li testing
         li databases
         li devOps
         li security
         li talks about community
         li diversity 
         li how you became involved in tech 
         li ... and the community and many more. If you are not sure, if your topic fits our needs, please <a href="mailto:team@otsconf.com"><strong>contact us</strong></a>. We are happy to help!<br /><br/>

      .col-lg-12.text-left
        h4.section-heading.col-sm-4.text-right Travel 

        p.text-left.col-sm-8 We are a <strong>community and non-profit</strong> conference, so we have a small budget for covering <strong>travel expenses </strong> (up to 200€. If you need more, please let us know. We'll try to make it happen!) plus <strong>accommodation</strong>. 


      .col-lg-12.text-left
        p.col-sm-4
        p.text-left.col-sm-8 If your employer can cover your travel and hotel, we are happy to list them as a <strong>sponsor</strong>. The money we save will be used to make the conference more awesome. If you have any questions about that, please <a href="mailto:team@otsconf.com"><strong>let us know</strong></a>! Whatever else you might need, we’re here to help.<br /><br/>


      .col-lg-12.text-left
        p.col-sm-4
        p.text-left.col-sm-8 If you want to bring your <strong>kid(s)</strong> and need <strong>child-care</strong> to be sorted out for the time of the conference, please add it to the <strong>CfP form</strong>. We'll take care of that.<br /><br/>

        .col-lg-12.text-left
        h4.section-heading.col-sm-4.text-right Recordings 
        p.text-left.col-sm-8 All talks will be <strong>recorded and published</strong> on the <strong>internet for free</strong>, along with a recording of the slide deck, live-demo or other on-presenter-screen activity. <br /><br/> We do this, so the <strong>community can profit</strong> from your talks and especially those who can't make it to the conference. But if you aren't comfortable with that, we'll work it out.<br /><br/>


      .col-lg-12.text-left
        h4.section-heading.col-sm-4.text-right Help &amp; Support 
        p.text-left.col-sm-8 If you need any help with finding a <strong>topic, review  your slides</strong> or someone to help <strong>practice your talk</strong> with, please <a href="mailto:team@otsconf.com"><strong>contact us</strong></a>! <br />Also please follow <a href="https://twitter.com/otsconf" target="_blank">@otsconf</a> for more information.

    .row
      .col-lg-12.text-center
        h2.section-heading#speaker(style="margin-top:50px") Speaker

      .col-lg-12.text-center
      - var more = '10 talk slots are available. You can submit your talk until 13th of May.'
        +speaker('Anika Lindtner', 'Getting more Women in Open Source. Why the f*ck should we care?', '#talk-more-woman-in-open-source', '@langziehohr')
        +speaker('Kevin Lorenz', 'Master of Ceremonies', '#mc-lorenz', '@verpixelt')
        +speaker('More Speakers…', more)(class='no-abstract')

