section#talks.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Talks
        
        p.text-muted The <b>Call for Papers</b> will be up in April. <br />There are a total of 11 talk slots plus lightningtalks.<br /> Please follow <a href="https://twitter.com/otsconf" target="_blank">@otsfonf</a> for more information.
        
