section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading#speaker(style="margin-top:50px") Speaker

      .col-lg-12.text-center
      - var more = '9 talk slots are available. The CfP is closed & we are totally thrilled by your proposals.'
        +speaker('Anika Lindtner', 'Getting more Women into Open Source. Why the f*ck should we care?', '#talk-more-woman-in-open-source', '@langziehohr')
        +speaker('Kevin Lorenz', 'Master of Ceremonies', '#mc-lorenz', '@verpixelt')
        +speaker('More Speakers…', more)(class='no-abstract')

