section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading CfP

        p.text-muted The <b>Call for Papers</b> will be up in April <br />and 11 talk slots will be available plus lightning talks.<br /> Please follow <a href="https://twitter.com/otsconf" target="_blank">@otsconf</a> for more information.
