section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading#speaker(style="margin-top:50px") Speaker

    .row

      .col-lg-12.text-center
      - var more = '9 talk slots are available. The CfP is closed & we are totally thrilled by your proposals.'
        +speaker('Leslie Hawthorn', 'Will the Real Technologists Please Stand Up', '#talk-please-stand-up', '@lhawthorn')
        +speaker('Anika Lindtner', 'How you can fix your community in one day', '#talk-fix-your-community', '@langziehohr')
        +speaker('Manuel Ernst', 'Evolutionary Algorithms 101', '#talk-evolutionary-algorithms', '@seriousManual')
        +speaker('Jessica Rose', 'Build Newbies, Ship a Better Tech Community', '#talk-build-newbies', '@jesslynnrose')
        +speaker('Hannes Moser', 'The Full-stack education paradoxon', '#talk-fullstack-education', '@eliias')
        +speaker('Martin Schuhfuß', 'Hack the way to your future home', '#talk-hack-your-future-home', '@usefulthink')
        +speaker('Jonas Reitmann', 'You decide whether people are able to use the web', '#talk-able-to-use-the-web', '@jonicious')
        +speaker('Marcos Placona', 'Just queue it!', '#talk-just-queue-it', '@marcos_placona')
        +speaker('Fabian Fabian', 'DevUX: DIY User Experience for Dev Teams', '#talk-devux', '@filtercake')
        +speaker('Anouk Ruhaak', 'Get Started With Functional Programming', '#talk-functional-programming', '@anoukruhaak')
        +speaker('Jennifer Geacone-Cruz', 'Perfectly Portable: Japanese Mobile Culture Influencing the Front-End', '#talk-perfectly-portable', '@anomiseditrix')
        +speaker('Dan Callahan', 'IoT for the masses - hardware prototyping with JavaScript, Firefox OS & Rust!', '#talk-firefoxos-phones', '@callahad')
        +speaker('István Szmozsánszky', 'IoT for the masses - hardware prototyping with JavaScript, Firefox OS & Rust!', '#talk-firefoxos-phones', '@slsoftworks')
        +speaker('Kevin Lorenz', 'Master of Ceremonies', '#talk-mc-lorenz', '@verpixelt')
        +speaker('And you?', 'There will be lightning talks at the conference.')
