section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading#speaker(style="margin-top:50px") Speaker

      .col-lg-12.text-center
      - var more = '9 talk slots are available. The CfP is closed & we are totally thrilled by your proposals.'
        +speaker('Leslie Hawthorn', 'Will the Real Technologists Please Stand Up', '#talk-please-stand-up', '@lhawthorn')
        +speaker('Anika Lindtner', 'Getting more Women into Open Source. Why the f*ck should we care?', '#talk-more-woman-in-open-source', '@langziehohr')
        +speaker('Manuel Ernst', 'Evolutionary Algorithms 101', '#evolutionary-algorithms', '@seriousManual')
        +speaker('Jessica Rose', 'Build Newbies, Ship a Better Tech Community', '#build-newbies', '@jesslynnrose')
        +speaker('Kevin Lorenz', 'Master of Ceremonies', '#mc-lorenz', '@verpixelt')
        +speaker('And you?', 'There will be lightning talks at the conference.')

