section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Call for Papers

        p.text-muted The <b>Call for Papers</b> is on. <br />11 talk slots will be available plus lightning talks.<br /> 

        p.text-center Go to <a href="https://docs.google.com/forms/d/1VLMX7u2LBnvQalGHw8OxSbv63oqnIl-ybnUzfCxKP1s/viewform?usp=send_form" target="_blank"> <strong>submit CfP</strong> </a> and fill out the form. <br /><br />

      .col-lg-12.text-right
        p.col-sm-8 The talks are scheduled to be <strong>20 minutes</strong> long and in english. <br /><br />The CfP will be up until <strong>13th of May</strong>. Announcement will follow soon after that. <br /><br /> There won't be Q&A, but we'll have <strong>plenty of breaks</strong> and would<br /> love to <strong>encourage you to talk</strong> to the attendees during them.<br /><br />
        
      .col-lg-12.text-right
        p.col-sm-4

        ul.text-left.col-sm-8
         dl All <strong>topics about open tech</strong> are welcome, e.g.:
         li hardware hacking 
         li bio hacking
         li software development (front- / back-end)
         li testing
         li databases
         li devOps
         li security
         li talks about community
         li diversity 
         li how you became involved in tech 
         li ... and the community and many more.

      .col-lg-12.text-left
        p.col-sm-4

        p.text-left.col-sm-8 We are a <strong>community and non-profit</strong> conference, so have a small budget for covering <strong>travel expenses</strong> and accommodation. <br /><br />If your company can help you with that, please let us know! So the speakers, <strong>who are in need</strong>, will get more. If you have any questions about that, please let us know!

      .col-lg-12.text-left

        p.text-right.col-sm-8 If you need any help with finding a <strong>topic, review of your slides or coaching</strong>, please contact us! <br /><br/>Also please follow <a href="https://twitter.com/otsconf" target="_blank">@otsconf</a> for more information.
