section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors

    .row.text-center
      .col-md-12.text-center
        p Our sponsors will be announced soon.

      | We have sponsorship opportunities available. #{''}
      a(href='mailto:sponsoring@otsconf.com?subject=Sponsoring%20inquiry&body=Hey%20otsconf%20Team%2C%0Acould%20you%20please%20send%20me%20your%20sponsoring%20material%3F%0A%0ABest') Please talk to us.
