section#tickets.bg-light-gray
  .container
    .row
      .col-lg-12.text-center.list-including
        h2.section-heading Tickets <br />
    .row.text-center
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Student Tickets
        p.text-muted
          | We want everyone who is interested to attend this conference, thus we will support students with a reduced ticket price.
        button.btn.btn-xl.btn-wide.disabled
          | tba
          span.badge Coming Soon
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-flash.fa-stack-1x.fa-inverse
        h4.service-heading Early Bird Tickets
        p.text-muted
          | A “thank you” to all of you early birds who trust and enable us to get this conference off the ground. You'll be able to vote for the talks.
        tito-button.btn.btn-xl(event='otsconf/2015', releases='ezdldkgwqqy')
          | 170€ incl. VAT
      .clearfix.visible-sm
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-ticket.fa-stack-1x.fa-inverse
        h4.service-heading Regular Tickets
        p.text-muted
          | One full day of knowledge, fun and hanging out with old and new friends. That's our regular ticket. 
        button.btn.btn-xl.btn-wide.disabled
          | tba
          span.badge Coming Soon
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-4
          i.fa.fa-gift.fa-stack-1x.fa-inverse
        h4.service-heading Diversity Tickets
        p.text-muted
          | Free tickets for underrepresented groups in tech. Would you like to attend the conference but cannot afford the ticket?
          //-| (#{''}
          //-a(href='#TODO-diversity-tickets') sponsor this
          //-| )
        button.btn.btn-xl.btn-wide.disabled
          |  Apply
          span.badge Coming Soon

    .row
      .col-lg-12.text-center.list-including
        h5.text-center including
        br
        .col-md-4.text-left
          li.list-group-item entrance to venue
          li.list-group-item 11 amazing talks about open tech
          li.list-group-item 6 creative lightning talks
          li.list-group-item early birds are able to vote for talks

        .col-md-4.text-left
          li.list-group-item breakfast
          li.list-group-item lunch
          li.list-group-item coffee break
          li.list-group-item <small>all meals with vegan / meat options by default</small>

        .col-md-4.text-left
          li.list-group-item entrance to after party
          li.list-group-item <small>non-attendees can buy a seperate ticket</small>
          li.list-group-item non-alcoholic / alcoholic drinks
          li.list-group-item <small>with limited budget for free drinks </small>
      
     
      .col-lg-12.text-center
        br
        br
        p Every <strong>member</strong> of the OpenTechSchool e.V. gets <strong>10%</strong> off <strong>one</strong> Early Bird <strong>or</strong> <br />Regular Ticket for <strong>themselves</strong> by using the <em>OTS-EV-MEMBER</em> discount code.
        p Please <strong>follow</strong> <a href="https://ti.to/otsconf/2015">https://ti.to/otsconf/2015</a> to get your <strong>discount</strong>.
        small (all prices include 19% VAT)


section#tickets
  .container
    .row#travel
      include ./party
      include ./travel
      include ./accomodation
