section#tickets.bg-light-gray
  .container
    .row
      .col-lg-12.text-center.list-including
        h2.section-heading Tickets <br />
    .row.text-center
      .ticket-info.col-md-4.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-leaf.fa-stack-1x.fa-inverse
        h4.service-heading Early Bird Tickets
        p.text-muted
          | A “thank you” to all of you early birds who trust and enable us to get this conference off the ground. You'll be able to vote for the talks.
        button.btn.btn-xl.btn-wide.disabled
          | 170€ incl. VAT
          span.badge Sold Out
      .clearfix.visible-sm

      .ticket-info.col-md-4.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Student Tickets
        p.text-muted
          | We want everyone who is interested to attend this conference, thus we will support students with a reduced ticket price.
        button.btn.btn-xl.btn-wide.disabled
          | 80€ incl. VAT
          span.badge Sold Out
      .clearfix.visible-sm

      .ticket-info.col-md-4.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-ticket.fa-stack-1x.fa-inverse
        h4.service-heading Regular Tickets
        p.text-muted
          | One full day of knowledge, fun and hanging out with old and new friends. That's our regular ticket.
        button.btn.btn-xl.btn-wide.disabled
          | 260€ incl. VAT
          span.badge Sold Out
      .clearfix.visible-sm

    .row.text-center
      .ticket-info.col-md-4.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-flash.fa-stack-1x.fa-inverse
        h4.service-heading Supporter Tickets
        p.text-muted
          | Same as the regular ticket. The extra money goes towards our community ticket programme and you will be named on the site as a supporter if you like.
        tito-button.btn.btn-xl(event='otsconf/2015', releases='ks-r7orfklm')
          | 380€ incl. VAT
      .clearfix.visible-sm

      .ticket-info.col-md-4.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-4
          i.fa.fa-gift.fa-stack-1x.fa-inverse
        h4.service-heading Diversity Tickets
        p.text-muted
          | Free tickets for underrepresented groups in tech. Would you like to attend the conference but cannot afford the ticket?
        button.btn.btn-xl.btn-wide.disabled
          |  Apply
          span.badge Closed
      .clearfix.visible-sm

      .ticket-info.col-md-4.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-code.fa-stack-1x.fa-inverse
        h4.service-heading Workshop Tickets
        p.text-muted
          | Six workshops wait for you: AngularJS, Nodecopter, JavaScript for Absolute Beginners, CSS Classes, Artificial Intelligence for Robots and Swarms, Hardware Hacking
        a.btn.btn-xl.btn-wide(href='http://blog.otsconf.com/post/121620705005/')
          |  Sign Up
      .clearfix.visible-sm

    .row
      .col-lg-12.text-center.list-including
        h5.text-center including
        br
        .col-md-4.text-left
          li.list-group-item entrance to venue
          li.list-group-item 12 amazing talks about open tech
          li.list-group-item 6 creative lightning talks

        .col-md-4.text-left
          li.list-group-item breakfast
          li.list-group-item lunch
          li.list-group-item coffee break
          li.list-group-item <small>all meals with vegan / meat options by default</small>

        .col-md-4.text-left
          li.list-group-item entrance to after party
          li.list-group-item <small>non-attendees can buy a seperate ticket</small>
          li.list-group-item non-alcoholic / alcoholic drinks
          li.list-group-item <small>with limited budget for free drinks </small>


      .col-lg-12.text-center
        br
        br
        p Every <strong>member</strong> of the OpenTechSchool e.V. gets <strong>10%</strong> off <strong>one</strong> Early Bird <strong>or</strong> <br />Regular Ticket for <strong>themselves</strong> by using the <em>OTS-EV-MEMBER</em> discount code.
        p Please <strong>follow</strong> <a href="https://ti.to/otsconf/2015">https://ti.to/otsconf/2015</a> to get your <strong>discount</strong>.
        small (all prices include 19% VAT)


section#tickets
  .container
    .row#travel
      include ./party
      include ./travel
      include ./accomodation
